.template {
  background: #f2f2f2;
}
.template .bg {
  height: 253rpx;
  width: 100%;
  background: linear-gradient(to right, #2ba152, #2da7cb);
  position: absolute;
  left: 0;
  top: 0;
}
.template .title {
  height: 70rpx;
  position: relative;
  line-height: 70rpx;
}
.template .title view:first-of-type {
  position: absolute;
  left: 6.4%;
}
.template .title view:first-of-type image {
  width: 32rpx;
  height: 29rpx;
  vertical-align: middle;
}
.template .title view:first-of-type text {
  margin-left: 20rpx;
  font-size: 28rpx;
  color: #fff;
  vertical-align: middle;
}
.template .title view:last-of-type {
  position: absolute;
  right: 6.4%;
  font-size: 28rpx;
  color: #fff;
  top: 5rpx;
}
.template .list .item {
  width: 87.2%;
  height: 294rpx;
  margin: 0 6.4%;
  box-sizing: border-box;
  padding: 0 18rpx;
  margin-top: 18rpx;
  display: flex;
  background: #fff;
  border-radius: 15rpx;
  position: relative;
}
.template .list .item .choose {
  width: 42rpx;
  position: relative;
}
.template .list .item .choose image {
  position: absolute;
  left: 0;
  top: 50%;
  width: 32rpx;
  height: 32rpx;
  transform: translateY(-50%);
}
.template .list .item .image {
  width: 176rpx;
  position: relative;
}
.template .list .item .image image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 176rpx;
  height: 176rpx;
}
.template .list .item .text {
  flex: 1;
  margin-left: 20rpx;
  position: relative;
}
.template .list .item .text text:first-of-type {
  margin-top: 53rpx;
  display: block;
  font-size: 28rpx;
  color: #313131;
  line-height: 38rpx;
  letter-spacing: 1rpx;
}
.template .list .item .text text:last-of-type {
  position: absolute;
  left: 0;
  bottom: 68rpx;
  color: #d1051f;
  font-size: 24rpx;
}
.template .list .item .quantity-control {
  position: absolute;
  right: 21rpx;
  bottom: 50rpx;
  width: 240rpx;
  height: 64rpx;
  display: flex;
}
.template .list .item .quantity-control view {
  flex: 1;
  font-size: 24rpx;
  line-height: 60rpx;
  text-align: center;
}
.template .list .item .quantity-control .minus {
  border: 1px solid #e8e8e8;
  border-right: 0;
  border-top-left-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
  color: #999;
  background: #f8f8f8;
}
.template .list .item .quantity-control .num,
.template .list .item .quantity-control .add {
  border: 1px solid #999;
  color: #313131;
}
.template .list .item .quantity-control .num {
  border-right: 0;
}
.template .list .item .quantity-control .add {
  border-top-right-radius: 8rpx;
  border-bottom-right-radius: 8rpx;
}
