.template {
  background: #f7f7f7;
}
.invisibleclass {
  display: block;
  margin: 0;
  padding: 0;
  background: transparent;
  text-align: left;
  text-align: center;
  height: 100%;
  line-height: 100rpx;
  color: #fff;
  font-size: 28rpx;
}
.invisibleclass::after {
  border: 0;
}
.nav {
  height: 88rpx;
  background: #f2f2f2;
  padding: 0 130rpx;
  display: flex;
  justify-content: space-between;
}
.nav text {
  font-size: 32rpx;
  line-height: 88rpx;
  color: #686868;
  font-weight: 400;
}
.goodMod {
  padding-bottom: 92rpx;
}
.goodMod .swiper {
  height: 750rpx;
}
.goodMod .goodInfo {
  width: 86%;
  padding: 0 7%;
  background: #fff;
}
.goodMod .goodInfo .info {
  padding-bottom: 29rpx;
  border-bottom: 1px solid #f7f0da;
  position: relative;
}
.goodMod .goodInfo .info .text {
  padding-top: 22rpx;
}
.goodMod .goodInfo .info .text .name {
  font-size: 36rpx;
  color: #000;
  font-weight: bold;
  width: 75%;
}
.goodMod .goodInfo .info .text .desc {
  font-size: 28rpx;
  color: #6f6f6f;
}
.goodMod .goodInfo .info .price {
  margin-top: 11rpx;
}
.goodMod .goodInfo .info .price .new {
  font-size: 32rpx;
  color: #d1051f;
}
.goodMod .goodInfo .info .price .old {
  margin-left: 30rpx;
  font-size: 32rpx;
  color: #b2b2b2;
  text-decoration: line-through;
}
.goodMod .goodInfo .info .coupon {
  margin-top: 22rpx;
  background: #f7f0da;
  height: 70rpx;
  display: flex;
  padding: 0 20rpx;
}
.goodMod .goodInfo .info .coupon view {
  display: flex;
}
.goodMod .goodInfo .info .coupon view text {
  color: #313131;
  font-size: 24rpx;
}
.goodMod .goodInfo .info .coupon view text,
.goodMod .goodInfo .info .coupon view image {
  align-self: center;
}
.goodMod .goodInfo .info .coupon view:first-of-type {
  flex: 1;
}
.goodMod .goodInfo .info .coupon view:first-of-type image {
  width: 54rpx;
  height: 46rpx;
}
.goodMod .goodInfo .info .coupon view:first-of-type text {
  margin-left: 20rpx;
}
.goodMod .goodInfo .info .coupon view:last-of-type text {
  margin-right: 8rpx;
}
.goodMod .goodInfo .info .coupon view:last-of-type image {
  width: 13rpx;
  height: 24rpx;
}
.goodMod .goodInfo .info .collect-share view {
  position: absolute;
}
.goodMod .goodInfo .info .collect-share view image {
  width: 25rpx;
  margin: 0 auto;
  height: 25rpx;
  display: block;
}
.goodMod .goodInfo .info .collect-share view text {
  margin-top: 8rpx;
  display: block;
  font-size: 16rpx;
  color: #9f9f9f;
}
.goodMod .goodInfo .info .collect-share view:first-of-type {
  top: 32rpx;
  right: 83rpx;
}
.goodMod .goodInfo .info .collect-share view:last-of-type {
  top: 32rpx;
  right: 0rpx;
}
.goodMod .goodInfo .choose {
  height: 100rpx;
  line-height: 100rpx;
  position: relative;
}
.goodMod .goodInfo .choose .menu text {
  font-size: 28rpx;
  color: #313131;
}
.goodMod .goodInfo .choose .menu text:first-of-type {
  color: #b2b2b2;
}
.goodMod .goodInfo .choose .menu text:nth-of-type(2) {
  margin-left: 15rpx;
}
.goodMod .goodInfo .choose .menu text:nth-of-type(3),
.goodMod .goodInfo .choose .menu text:nth-of-type(4) {
  margin-left: 35rpx;
}
.goodMod .goodInfo .choose image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13rpx;
  height: 24rpx;
}
.goodMod .service {
  margin-top: 20rpx;
  width: 86%;
  padding: 0 7%;
  background: #fff;
  height: 124rpx;
  position: relative;
}
.goodMod .service .up {
  position: absolute;
  top: 9rpx;
}
.goodMod .service .up text {
  font-size: 28rpx;
  line-height: 28rpx;
}
.goodMod .service .up text:first-of-type {
  color: #b2b2b2;
}
.goodMod .service .up text:last-of-type {
  color: #313131;
}
.goodMod .service .bottom {
  position: absolute;
  left: 112rpx;
  top: 53rpx;
}
.goodMod .service .bottom view {
  display: inline-block;
  margin-left: 28rpx;
}
.goodMod .service .bottom view image {
  width: 20rpx;
  height: 20rpx;
}
.goodMod .service .bottom view text {
  font-size: 24rpx;
  color: #b2b2b2;
  margin-left: 10rpx;
}
.goodMod .service .icon {
  width: 13rpx;
  height: 24rpx;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}
.goodMod .shop-nav {
  margin-top: 20rpx;
  height: 94rpx;
  width: 86%;
  padding: 30rpx 7%;
  display: flex;
  background: #fff;
}
.goodMod .shop-nav image {
  width: 94rpx;
  height: 94rpx;
}
.goodMod .shop-nav view {
  margin-left: 19rpx;
  flex: 1;
  position: relative;
}
.goodMod .shop-nav view text {
  display: block;
}
.goodMod .shop-nav view text:first-of-type {
  font-size: 28rpx;
  font-weight: bold;
}
.goodMod .shop-nav view text:nth-of-type(2) {
  font-size: 11rpx;
  color: #2ca5ae;
}
.goodMod .shop-nav view text:last-of-type {
  height: 28rpx;
  width: 60rpx;
  border-radius: 6rpx;
  font-weight: bold;
  font-size: 20rpx;
  line-height: 28rpx;
  text-align: center;
  color: #fff;
  background: #2ca5ae;
  margin-top: 11rpx;
}
.goodMod .shop-nav view .btn {
  width: 88rpx;
  height: 48rpx;
  border: 1px solid #2ca5ae;
  background: transparent;
  border-radius: 12rpx;
  font-size: 28rpx;
  line-height: 48rpx;
  text-align: center;
  color: #2ca5ae;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-weight: bold;
}
.goodMod .reviews {
  background: #fff;
  width: 87.2%;
  padding: 0 6.4%;
  margin-top: 20rpx;
}
.goodMod .reviews .title {
  height: 88rpx;
  border-bottom: 1px solid #b2b2b2;
  line-height: 88rpx;
  display: flex;
}
.goodMod .reviews .title text {
  font-size: 28rpx;
  padding-top: 2rpx;
  color: #313131;
  vertical-align: middle;
}
.goodMod .reviews .title .start-list {
  margin-left: 14rpx;
  flex: 1;
  vertical-align: middle;
}
.goodMod .reviews .title .start-list image {
  margin: 0 5rpx;
  width: 28rpx;
  height: 28rpx;
}
.goodMod .reviews .title .quantity {
  vertical-align: middle;
}
.goodMod .reviews .title .quantity text {
  font-size: 24rpx;
  color: #b7b7b7;
  vertical-align: middle;
}
.goodMod .reviews .title .quantity image {
  vertical-align: middle;
  margin-left: 10rpx;
  width: 13rpx;
  height: 24rpx;
}
.goodMod .reviews .list .item {
  padding-bottom: 32rpx;
  border-bottom: 1px solid #b2b2b2;
}
.goodMod .reviews .list .item .item-header {
  height: 140rpx;
  display: flex;
}
.goodMod .reviews .list .item .item-header .pro-pic {
  width: 84rpx;
  height: 84rpx;
  border-radius: 50%;
  border: 1px solid #b9b9b9;
  align-self: center;
  overflow: hidden;
}
.goodMod .reviews .list .item .item-header .pro-pic image {
  width: 100%;
  height: 100%;
}
.goodMod .reviews .list .item .item-header .name-time {
  flex: 1;
  padding-left: 20rpx;
  align-self: center;
}
.goodMod .reviews .list .item .item-header .name-time .name {
  font-size: 28rpx;
  color: #313131;
}
.goodMod .reviews .list .item .item-header .name-time .time {
  font-size: 20rpx;
  color: #b2b2b2;
}
.goodMod .reviews .list .item .item-cont .text {
  font-size: 20rpx;
  line-height: 32rpx;
  color: #6f6f6f;
}
.goodMod .reviews .list .item .item-cont .pic-group {
  font-size: 0;
}
.goodMod .reviews .list .item .item-cont .pic-group image {
  margin-top: 20rpx;
  width: 224rpx;
  height: 236rpx;
}
.goodMod .reviews .list .item .item-cont .pic-group image:nth-child(even) {
  margin-left: 12rpx;
}
.goodMod .reviews .list .item:last-of-type {
  border: 0;
}
.goodMod .promise {
  margin-top: 20rpx;
  padding-top: 32rpx;
  background: #fff;
}
.goodMod .promise image {
  width: 100%;
  height: 268rpx;
}
.goodMod .good-detail .text {
  height: 152rpx;
}
.goodMod .good-detail .text text {
  display: block;
  text-align: center;
}
.goodMod .good-detail .text text:first-of-type {
  margin-top: 50rpx;
  font-size: 28rpx;
  font-weight: bold;
}
.goodMod .good-detail .text text:last-of-type {
  font-size: 20rpx;
  color: #6f6f6f;
}
.goodMod .good-detail .image .fr-fin {
  display: block;
  width: 100% !important;
}
.fixed-group .contact {
  position: fixed;
  width: 159rpx;
  height: 162rpx;
  right: 0rpx;
  bottom: 255rpx;
  background: transparent;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.fixed-group .contact image {
  width: 100%;
  height: 100%;
}
.fixed-group .contact::after {
  border: 0;
}
.fixed-group .toTop {
  position: fixed;
  width: 159rpx;
  height: 162rpx;
  right: 0rpx;
  bottom: 125rpx;
}
.bottom-nav {
  height: 100rpx;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom-nav .other {
  width: 278rpx;
  display: flex;
  background: #f2f2f2;
  justify-content: space-between;
}
.bottom-nav .other view {
  flex: 1;
}
.bottom-nav .other view image {
  padding-top: 24rpx;
  display: block;
  height: 32rpx;
  width: 32rpx;
  margin: 0 auto;
}
.bottom-nav .other view text {
  margin-top: 10rpx;
  display: block;
  font-size: 20rpx;
  letter-spacing: 2rpx;
  color: #999999;
  text-align: center;
}
.bottom-nav .other view:nth-of-type(2) .contact {
  background: transparent;
  padding: 0;
  margin: 0;
}
.bottom-nav .other view:nth-of-type(2) .contact image {
  width: 38rpx;
}
.bottom-nav .other view:nth-of-type(2) .contact text {
  margin-top: 0;
}
.bottom-nav .other view:nth-of-type(2) .contact::after {
  border: 0;
}
.bottom-nav .cart-add,
.bottom-nav .buy-btn {
  line-height: 100rpx;
  color: #fff;
  text-align: center;
  font-size: 28rpx;
}
.bottom-nav .cart-add {
  flex: 1;
  background: #f0b146;
}
.bottom-nav .buy-btn {
  flex: 1;
  background: #d1051f;
}
.cart-control {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.73);
}
.cart-control .box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.cart-control .box .next-btn {
  height: 100rpx;
  background: #d1051f;
  color: #fff;
  font-size: 28rpx;
  line-height: 100rpx;
  text-align: center;
}
.cart-control .box .info {
  background: #fff;
  padding: 0 6.4%;
}
.cart-control .box .info .text-img {
  display: flex;
  padding-bottom: 19rpx;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.cart-control .box .info .text-img image {
  width: 164rpx;
  height: 164rpx;
  margin-top: -36rpx;
  border: 1px solid #e8e8e8;
  border-radius: 10rpx;
}
.cart-control .box .info .text-img .about {
  margin-left: 19rpx;
  padding-top: 32rpx;
  flex: 1;
}
.cart-control .box .info .text-img .about .name {
  font-size: 24rpx;
  color: #313131;
  width: 90%;
}
.cart-control .box .info .text-img .about .price-size {
  display: flex;
  margin-top: 21rpx;
  position: relative;
}
.cart-control .box .info .text-img .about .price-size .price {
  color: #d1051f;
}
.cart-control .box .info .text-img .about .price-size .size {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cart-control .box .info .text-img .about .price-size .size view {
  display: inline-block;
  height: 28rpx;
  padding: 0 8rpx;
  text-align: center;
  line-height: 28rpx;
  font-size: 20rpx;
  border: 1px solid #e8e8e8;
  color: #6f6f6f;
}
.cart-control .box .info .text-img .about .price-size .size view {
  margin-left: 18rpx;
}
.cart-control .box .info .text-img .about .price-size .size view:first-of-type {
  margin: 0;
}
.cart-control .box .info .text-img .about .price-size .size .active {
  border: 1px solid #ed015c;
  color: #ed015c;
}
.cart-control .box .info .text-img .close {
  position: absolute;
  width: 44rpx;
  height: 44rpx;
  top: 31rpx;
  right: 0;
}
.cart-control .box .info .text-img .close image {
  width: 100%;
  height: 100%;
  border: 0;
}
.cart-control .box .info .quantity-control {
  height: 120rpx;
  display: flex;
}
.cart-control .box .info .quantity-control .quantity {
  flex: 1;
  align-self: center;
}
.cart-control .box .info .quantity-control .quantity text {
  display: block;
}
.cart-control .box .info .quantity-control .quantity text:first-of-type {
  font-size: 28rpx;
}
.cart-control .box .info .quantity-control .quantity text:last-of-type {
  font-size: 20rpx;
  color: #b2b2b2;
  margin-top: 5rpx;
}
.cart-control .box .info .quantity-control .control {
  width: 240rpx;
  height: 64rpx;
  display: flex;
  align-self: center;
}
.cart-control .box .info .quantity-control .control view {
  flex: 1;
  font-size: 24rpx;
  line-height: 60rpx;
  text-align: center;
}
.cart-control .box .info .quantity-control .control .minus {
  border: 1px solid #e8e8e8;
  border-right: 0;
  border-top-left-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
  color: #999;
  background: #f8f8f8;
}
.cart-control .box .info .quantity-control .control .num,
.cart-control .box .info .quantity-control .control .add {
  border: 1px solid #999;
  color: #313131;
}
.cart-control .box .info .quantity-control .control .num {
  border-right: 0;
}
.cart-control .box .info .quantity-control .control .add {
  border-top-right-radius: 8rpx;
  border-bottom-right-radius: 8rpx;
}
