.template {
  background: #f2f2f2;
}
.template .poster {
  width: 100%;
  height: 388rpx;
}
.template .poster image {
  width: 100%;
  height: 100%;
}
.template .main {
  padding-bottom: 100rpx;
}
.template .main .num-info {
  background: #fff;
  padding: 41rpx  6.4% 32rpx 6.4%;
  display: flex;
}
.template .main .num-info view:first-of-type {
  width: 256rpx;
}
.template .main .num-info view:last-of-type {
  flex: 1;
}
.template .main .num-info view text {
  display: block;
}
.template .main .num-info view text:first-of-type {
  font-size: 28rpx;
  line-height: 28rpx;
  font-weight: bold;
  color: #d1051f;
}
.template .main .num-info view text:last-of-type {
  font-size: 20rpx;
  color: #b2b2b2;
  line-height: 20rpx;
  margin-top: 9rpx;
}
.template .main .project-name,
.template .main .mission,
.template .main .project-cont,
.template .main .project-plan,
.template .main .help-person,
.template .main .project-budget {
  background: #fff;
  margin-top: 20rpx;
  padding: 0 6.4%;
}
.template .main .project-name .title,
.template .main .mission .title,
.template .main .project-cont .title,
.template .main .project-plan .title,
.template .main .help-person .title,
.template .main .project-budget .title {
  padding-top: 13rpx;
  line-height: 36rpx;
}
.template .main .project-name .title image,
.template .main .mission .title image,
.template .main .project-cont .title image,
.template .main .project-plan .title image,
.template .main .help-person .title image,
.template .main .project-budget .title image {
  width: 36rpx;
  height: 36rpx;
  vertical-align: middle;
}
.template .main .project-name .title text,
.template .main .mission .title text,
.template .main .project-cont .title text,
.template .main .project-plan .title text,
.template .main .help-person .title text,
.template .main .project-budget .title text {
  vertical-align: middle;
  font-size: 28rpx;
  color: #313131;
  margin-left: 12rpx;
  margin-left: 13rpx;
  font-weight: bold;
}
.template .main .project-name .desc,
.template .main .mission .desc,
.template .main .project-cont .desc,
.template .main .project-plan .desc,
.template .main .help-person .desc,
.template .main .project-budget .desc {
  padding-top: 7rpx;
  padding-bottom: 32rpx;
  font-size: 24rpx;
  color: #b2b2b2;
  line-height: 32rpx;
}
.template .main .project-cont {
  position: relative;
  overflow: hidden;
  padding-bottom: 88rpx;
}
.template .main .project-cont .desc {
  padding-top: 30rpx;
}
.template .main .project-cont .read {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 88rpx;
  font-size: 24rpx;
  color: #ff924f;
  text-align: center;
  background: #fff;
  line-height: 88rpx;
}
.template .main .project-cont .read image {
  width: 24rpx;
  height: 13rpx;
  vertical-align: middle;
  margin-left: 7rpx;
}
.template .main .project-cont-hidden {
  height: 332rpx;
}
.template .main .project-cont-hidden .mask {
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.5));
  height: 260rpx;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 88rpx;
}
.template .main .heart-reviews {
  background: #fff;
  margin-top: 20rpx;
}
.template .main .heart-reviews .title {
  padding: 0 6.4%;
  font-size: 28rpx;
  line-height: 68rpx;
  color: #313131;
}
.template .main .heart-reviews .list .item {
  padding: 15rpx 6.4%;
  border-bottom: 1px solid #f2f2f2;
}
.template .main .heart-reviews .list .item .info {
  display: flex;
}
.template .main .heart-reviews .list .item .info image {
  width: 44rpx;
  height: 44rpx;
  border-radius: 50%;
}
.template .main .heart-reviews .list .item .info .info-box {
  flex: 1;
  padding-left: 20rpx;
}
.template .main .heart-reviews .list .item .info .info-box text {
  display: block;
  font-size: 20rpx;
  line-height: 20rpx;
}
.template .main .heart-reviews .list .item .info .info-box text:first-of-type {
  color: #313131;
}
.template .main .heart-reviews .list .item .info .info-box text:last-of-type {
  color: #b2b2b2;
  margin-top: 10rpx;
}
.template .main .heart-reviews .list .item .review-cont {
  margin-top: 20rpx;
  font-size: 24rpx;
  color: #b2b2b2;
  line-height: 30rpx;
}
.template .main .heart-reviews .list .item .img-group {
  margin-top: 20rpx;
  font-size: 0;
}
.template .main .heart-reviews .list .item .img-group .img-item {
  margin-top: 14rpx;
  display: inline-block;
  width: 205rpx;
  height: 205rpx;
  overflow: hidden;
  position: relative;
  margin-left: 7rpx;
  margin-right: 7rpx;
  background: #000000;
}
.template .main .heart-reviews .list .item .img-group .img-item image {
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.template .main .heart-reviews .list .item:last-of-type {
  border: 0;
}
.template .main .project-budget .desc {
  padding-bottom: 62rpx;
}
.template .main .project-budget .desc view text:last-of-type {
  margin-left: 20rpx;
  color: #D1051F;
  font-size: 24rpx;
  font-weight: bold;
}
.template .fixed-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100rpx;
  display: flex;
}
.template .fixed-btn view:first-of-type {
  width: 150rpx;
  background: #f2f2f2;
  text-align: center;
}
.template .fixed-btn view:first-of-type image,
.template .fixed-btn view:first-of-type text {
  display: block;
}
.template .fixed-btn view:first-of-type image {
  width: 32rpx;
  height: 28rpx;
  margin: 0 auto;
  margin-top: 15rpx;
}
.template .fixed-btn view:first-of-type text {
  font-size: 20rpx;
  color: #999;
  line-height: 20rpx;
  margin-top: 14rpx;
}
.template .fixed-btn view:last-of-type {
  flex: 1;
  text-align: center;
  color: #fff;
  line-height: 100rpx;
  width: 100%;
  font-size: 28rpx;
  background: #d1051f;
}
.template .price-control {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
}
.template .price-control .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.template .price-control .main-control {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.template .price-control .main-control .cont {
  background: #fff;
  padding: 0 6.4%;
}
.template .price-control .main-control .cont .title text {
  line-height: 108rpx;
  font-size: 28rpx;
}
.template .price-control .main-control .cont .title text:first-of-type {
  color: #313131;
  font-weight: bold;
}
.template .price-control .main-control .cont .title text:last-of-type {
  margin-left: 51rpx;
  color: #b2b2b2;
}
.template .price-control .main-control .cont .choose {
  margin-top: 6rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.template .price-control .main-control .cont .choose view {
  width: 144rpx;
  height: 72rpx;
  line-height: 72rpx;
  text-align: center;
  border: 1px solid #b2b2b2;
  color: #b2b2b2;
  font-size: 28rpx;
}
.template .price-control .main-control .cont .choose .active {
  border: 1px solid #ff660c;
  color: #ff660c;
}
.template .price-control .main-control .cont .input {
  display: inline-block;
  padding: 0 34rpx;
  margin-top: 40rpx;
  border: 1px solid #b2b2b2;
  height: 72rpx;
  color: #b2b2b2;
  font-size: 28rpx;
}
.template .price-control .main-control .cont .input input {
  display: inline-block;
  width: 206rpx;
  height: 100%;
  vertical-align: middle;
  color: #b2b2b2;
}
.template .price-control .main-control .cont .input .placeholder {
  color: #b2b2b2;
}
.template .price-control .main-control .cont .active {
  border: 1px solid #ff660c;
  color: #ff660c;
}
.template .price-control .main-control .cont .active input {
  color: #ff660c;
}
.template .price-control .main-control .cont .has-name {
  height: 108rpx;
  line-height: 108rpx;
}
.template .price-control .main-control .cont .has-name .hasName-btn {
  display: inline-block;
  vertical-align: middle;
}
.template .price-control .main-control .cont .has-name .hasName-btn view {
  display: inline-block;
  height: 14rpx;
  width: 14rpx;
  border-radius: 50%;
  border: 2px solid #b2b2b2;
}
.template .price-control .main-control .cont .has-name .hasName-btn text {
  font-size: 28rpx;
  color: #b2b2b2;
  margin-left: 20rpx;
}
.template .price-control .main-control .cont .has-name .inputName {
  vertical-align: middle;
  margin-left: 20rpx;
  display: inline-block;
  width: 250rpx;
  height: 108rpx;
}
.template .price-control .main-control .cont .has-name .inputName input {
  margin-top: 29rpx;
  width: 100%;
  height: 50rpx;
  box-sizing: border-box;
  border: 1px solid #b2b2b2;
  font-size: 24rpx;
  color: #b3b3b3;
  padding-left: 20rpx;
}
.template .price-control .main-control .cont .has-name .hidden view {
  border: 2px solid #ff660c;
}
.template .price-control .main-control .cont .has-name .hidden text {
  color: #ff660c;
}
.template .price-control .main-control .btn {
  height: 100rpx;
  background: #d1051f;
  line-height: 100rpx;
  text-align: center;
  color: #fff;
  font-size: 28rpx;
}
