.template {
  background: #fff;
  min-height: 100vh;
}
.template .nav {
  height: 88rpx;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 70%;
  padding: 0 15%;
}
.template .nav text {
  font-size: 32rpx;
  line-height: 86rpx;
  color: #686868;
  font-weight: 400;
}
.template .nav .nav-active {
  color: #2ca5ae;
  border-bottom: 2px solid #2ca5ae;
}
.template .list {
  margin: 0 6.4%;
  padding-top: 128rpx;
}
.template .list .item {
  height: 180rpx;
  display: flex;
  position: relative;
  margin-top: 19rpx;
}
.template .list .item:first-of-type {
  margin-top: 0;
}
.template .list .item:last-of-type {
  margin-bottom: 150rpx;
}
.template .list .item image {
  width: 100%;
  height: 100%;
}
.template .list .item .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.template .list .item .box .info {
  flex: 1;
  padding: 24rpx 28rpx;
}
.template .list .item .box .info view {
  color: #fff;
}
.template .list .item .box .info view:first-of-type text:first-of-type {
  font-size: 28rpx;
}
.template .list .item .box .info view:first-of-type text:last-of-type {
  font-size: 50rpx;
}
.template .list .item .box .info view:last-of-type {
  margin-top: 8rpx;
  line-height: 24rpx;
  font-size: 20rpx;
}
.template .list .item .box .info view:last-of-type text {
  display: block;
}
.template .list .item .box .btn {
  width: 134rpx;
  border-left: 1px dotted #fff;
  line-height: 180rpx;
  text-align: center;
  font-size: 24rpx;
  color: #fff;
}
