.template {
  min-height: 100vh;
  background: #f2f2f2;
  padding-bottom: 150rpx;
  .wrap {
    .list {
      padding-top: 20rpx;
      margin: 0 6.4%;
      .item {
        margin-top: 20rpx;
        background: #fff;
        border-radius: 10rpx;
        &:first-of-type {
          margin-top: 0;
        }
        .header {
          display: flex;
          padding: 20rpx;
          border-bottom: 1px solid #f7f7f7;
          .img-box {
            position: relative;
            background: #f2f2f2;
            width: 114rpx;
            height: 114rpx;
            overflow: hidden;
            image {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
          .good-level {
            padding-left: 35rpx;
            flex: 1;
            font-size: 0;
            .title {
              padding-top: 8rpx;
              font-size: 28rpx;
              color: #313131;
              line-height: 34rpx;
            }
            .product {
              font-size: 20rpx;
              padding: 0 8rpx;
              color: #d1051f;
              border: 1px solid #d1051f;
              line-height: 28rpx;
              display: inline-block;
              margin-top: 10rpx;
            }
            .star {
              margin-top: 15rpx;
              font-size: 0;
              text {
                color: #313131;
                font-size: 22rpx;
                line-height: 44rpx;
                margin-right: 10rpx;
                vertical-align: middle;
              }
              image {
                vertical-align: middle;
                padding: 11rpx 9rpx;
                width: 22rpx;
                height: 22rpx;
              }
            }
          }
        }
        .input-text {
          padding: 20rpx;
          height: 180rpx;
          overflow: hidden;
          border-bottom: 1px solid #f7f7f7;
          textarea {
            font-size: 20rpx;
            color: #b2b2b2;
            line-height: 30rpx;
          }
        }
        .img-group {
          padding: 20rpx;
          padding-top: 27rpx;
          .img-wrap {
            display: inline-block;
            width: 193rpx;
            height: 193rpx;
            overflow: hidden;
            position: relative;
            margin-left: 7rpx;
            margin-right: 7rpx;
            background: rgb(0, 0, 0);
            .contImage {
              width: 100%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
            .delIcon {
              width: 35rpx;
              height: 35rpx;
              position: absolute;
              right: 5rpx;
              top: 5rpx;
              z-index: 2;
            }
          }
        }
      }
    }
    .logistics {
      margin: 0 6.4%;
      margin-top: 20rpx;
      border-radius: 10rpx;
      background: #fff;
      .logi-item {
        height: 78rpx;
        margin: 0 27rpx;
        border-bottom: 1px solid #f7f7f7;
        display: flex;
        .left-text {
          padding-left: 42rpx;
          line-height: 78rpx;
          font-size: 24rpx;
        }
        .star {
          flex: 1;
          text-align: right;
          font-size: 0;
          image {
            padding: 28rpx 13rpx;
            width: 22rpx;
            height: 22rpx;
          }
        }

        .right-check {
          flex: 1;
          text-align: right;
          image {
            padding: 26rpx 27rpx;
            width: 24rpx;
            height: 24rpx;
          }
        }
      }
      .header {
        .left-text {
          padding: 0;
          image {
            width: 30rpx;
            height: 22rpx;
          }
          text {
            margin-left: 15rpx;
          }
          image,
          text {
            vertical-align: middle;
          }
        }
        .right-text {
          flex: 1;
          text-align: right;
          align-self: center;
          color: #b2b2b2;
          font-size: 20rpx;
        }
      }
    }
  }
  .fixBtn {
    position: fixed;
    left: 0;
    right: 0;
    height: 100rpx;
    bottom: 0;
    background: #d1051f;
    line-height: 100rpx;
    text-align: center;
    font-size: 28rpx;
    color: #fff;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
