.template {
  background: #f7f7f7;
  .about-address {
    background: #fff;
    padding: 0 6.4%;
    .add {
      height: 120rpx;
      display: flex;
      image:first-of-type {
        width: 32rpx;
        height: 32rpx;
        align-self: center;
      }
      text {
        flex: 1;
        padding-left: 21rpx;
        line-height: 120rpx;
        font-size: 32rpx;
        color: #313131;
      }
      image:last-of-type {
        width: 13rpx;
        height: 24rpx;
        align-self: center;
      }
    }
    .info {
      padding-top: 20rpx;
      padding-bottom: 20rpx;
      position: relative;
      .text {
        color: #313131;
        font-size: 28rpx;
        line-height: 40rpx;
        text {
          color: #8a8a8a;
        }
      }
      .refresh {
        position: absolute;
        font-size: 28rpx;
        color: #3283fa;
        right: 0rpx;
        top: 20rpx;
      }
    }
  }
  .desc {
    margin-top: 20rpx;
    background: #fff;
    .header {
      height: 84rpx;
      border-bottom: 2px solid #f7f7f7;
      line-height: 84rpx;
      padding: 0 6.4%;
      image {
        width: 44rpx;
        height: 44rpx;
        vertical-align: middle;
      }
      text {
        margin-left: 23rpx;
        font-size: 28rpx;
        color: #313131;
      }
    }
    .good-list {
      .item {
        display: flex;
        height: 180rpx;
        margin: 0 6.4%;
        border-bottom: 2px solid #f7f7f7;
        image {
          width: 124rpx;
          height: 124rpx;
          align-self: center;
        }
        view {
          flex: 1;
          align-self: center;
          padding-left: 23rpx;
          position: relative;
          text {
            display: block;
          }
          text:first-of-type {
            font-size: 28rpx;
            color: #313131;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          text:nth-of-type(2) {
            margin-top: 23rpx;
            font-size: 28rpx;
            color: #d1051f;
          }
          text:last-of-type {
            position: absolute;
            right: 0;
            top: 70rpx;
            font-size: 24rpx;
            color: #b2b2b2;
          }
        }
      }
    }
    .invoice,
    .distribution,
    .word,
    .postage {
      margin: 0 6.4%;
      height: 84rpx;
      border-bottom: 2px solid #f7f7f7;
      position: relative;
    }
    .distribution {
      text {
        font-size: 28rpx;
        line-height: 84rpx;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      text:first-of-type {
        left: 0;
        color: #313131;
      }
      text:last-of-type {
        right: 0;
        color: #b2b2b2;
      }
    }
    .invoice {
      text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28rpx;
      }
      text:first-of-type {
        left: 0;
        color: #313131;
      }
      text:last-of-type {
        right: 25rpx;
        color: #b2b2b2;
      }
      image {
        position: absolute;
        right: 0;
        top: 33rpx;
        width: 13rpx;
        height: 24rpx;
      }
    }
    .word {
      display: flex;
      text {
        font-size: 28rpx;
        color: #313131;
        line-height: 84rpx;
      }
      input {
        flex: 1;
        font-size: 28rpx;
        color: #b2b2b2;
        line-height: 84rpx;
        margin-left: 20rpx;
        height: 84rpx;
      }
    }
    .postage {
      position: relative;
      border: 0;
      view:first-of-type {
        font-size: 28rpx;
        color: #313131;
        line-height: 84rpx;
      }
      view:last-of-type {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28rpx;
        color: #b2b2b2;
        line-height: 84rpx;
        text:last-of-type {
          color: #d1051f;
        }
      }
    }
  }
  .coupon {
    margin-top: 20rpx;
    padding: 0 6.4%;
    background: #fff;
    height: 84rpx;
    position: relative;
    text {
      font-size: 28rpx;
      color: #313131;
      line-height: 84rpx;
    }
    image {
      position: absolute;
      right: 6.4%;
      top: 50%;
      transform: translateY(-50%);
      width: 13rpx;
      height: 24rpx;
    }
  }
  .price {
    background: #fff;
    margin-top: 20rpx;
    padding: 0 6.4%;
    padding-top: 15rpx;
    height: 400rpx;
    view {
      height: 58rpx;
      display: flex;
      text {
        line-height: 58rpx;
        font-size: 28rpx;
      }
      text:first-of-type {
        color: #313131;
      }
      text:last-of-type {
        flex: 1;
        text-align: right;
        color: #d1051f;
      }
    }
  }
}
.submit-order {
  width: 100%;
  height: 100rpx;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #f2f2f2;
  display: flex;
  view:first-of-type {
    flex: 1;
    padding-left: 6.4%;
    text {
      font-size: 28rpx;
      line-height: 100rpx;
    }
    text:first-of-type {
      color: #313131;
    }
    text:last-of-type {
      color: #d1051f;
    }
  }
  view:last-of-type {
    width: 236rpx;
    background: #d1051f;
    text-align: center;
    line-height: 100rpx;
    font-size: 28rpx;
    color: #fff;
  }
}
