.template {
  font-size: 24rpx;
  color: #313131;
}
.template .payMask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.template .payMask view:first-of-type {
  font-size: 28rpx;
  line-height: 34rpx;
  color: #b2b2b2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.template .payMask view:last-of-type {
  height: 100rpx;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #d1051f;
  font-size: 24rpx;
  color: #fff;
  line-height: 100rpx;
  text-align: center;
}
.template .cont-wrap video {
  width: 87.2%;
  margin: 48rpx 6.4%;
}
.template .cont-wrap .share {
  margin-top: 135rpx;
  margin-bottom: 150rpx;
}
.template .cont-wrap .share .text {
  font-size: 20rpx;
  color: rgba(49, 49, 49, 0.5);
  text-align: center;
}
.template .cont-wrap .share .btn {
  margin: 0 auto;
  margin-top: 40rpx;
  width: 380rpx;
}
.template .cont-wrap .share .btn button {
  margin: 0;
  padding: 0;
  border-radius: 40rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  text-align: center;
  background: #2ca5ae;
  color: #fff;
}
.template .cont-wrap .share .btn button::after {
  border: 0;
}
